<div class="row">
  <div class="col-xs-8 col-xs-offset-2" style="padding-top : 50px">

    <%= link_to "Ajouter un établissement", new_restaurant_path %>

    <h1>Restaurants</h1>
    <ul>
    <% @restaurants.each do |restaurant|%>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
    </ul>

  </div>
</div>
