<div class="row">
  <div class="col-xs-8 col-xs-offset-2" style="padding-top : 50px">

    <%= link_to "Ajouter un établissement", new_restaurant_path %>

    <h1>Restaurants</h1>
    <div class="list-group">
    <% @restaurants.each do |restaurant|%>

        <%= link_to restaurant_path(restaurant), class: "list-group-item" do%>
          <%= restaurant.name %>
        <% end %>
    <% end %>
    </div>

  </div>
</div>
