<div class="row">
  <div class="col-xs-8 col-xs-offset-2" style="padding-top : 50px">
    <%= link_to "Tous les restaurants", restaurants_path %>
    <h1><%= @restaurant.name %></h1>

    <% @reviews.each do |review| %>
      <ul>
      <li>
        <%= review.content + " " + "*" * review.rating + " #{review.rating}" %>
      </li>
      </ul>
    <% end %>
    <%= link_to "Ajouter un avis", new_restaurant_review_path(@restaurant) %>
  </div>
</div>
